body, html {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, sans-serif;
    color: #ffffff;
    background-color: #331019;
    text-align: center;
}
ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
}
ul.nav-bar li a {
    display: block;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
}
ul.nav-bar li a:hover {
    background-color: #444040;
}
#banner {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0)), url(main/banner.webp);
    background-size: cover;
    background-position: center;
    padding: 3vh;
}
@keyframes float {
    from {transform: translateY(-10px);}
    to {transform: translateY(10px)}
}
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 100;}
}
img.logo {
    width: 400px;
    height: 400px;
    animation: float 3s infinite alternate ease-in-out, fade 1s ease-out;
}